@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

// Set your brand colors
$yellow: #facd01;
$pink: #fa7c91;
$white: #ffffff;
$green: #056674;
$beige-light: #353535;
$beige-lighter: #e0ece4;

// Update Bulma's global variables
$family-primary: "Bebas Neue", sans-serif;
$family-secondary: "Roboto", sans-serif;
$grey-dark: $white;
$grey-light: $beige-light;
$primary: $yellow;
$secondary: $white;
$link: $beige-light;
// $widescreen-enabled: false;
// $fullhd-enabled: false;
// $navbar-breakpoint: 500px;

//* Hero image background
// .hero-body {
//   background: linear-gradient(0deg, $purple, $grey-light),
//     url("https://lh3.googleusercontent.com/proxy/asL59o0YEPfPFNnbemEJkrOk32jxtybwLOKClIG-MSixsJwS90yRXQbpn4lTipTfvGgLTT74htOapanS9K_P_U4C");
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
// }

// Update some of Bulma's component variables
// $body-background-color: $beige-lighter;
// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;

// $react-rater-link: rgb(191, 246, 191) !default; // color of star not rated
// $react-rater-hover: rgb(110, 235, 79) !default; // color of star on hover
// $react-rater-active: rgb(123, 251, 4) !default; // color of star rated


#scroll {
  display: none;
}

#mobnavlight {
  display: none;
}

#whitelink:hover {
  color: white
}

#icon-container {
  padding: 30px;
  margin: 10px
}

#icon {
  font-size: 4rem;
  color: $primary;
}

#icon:hover {
  color: $secondary;
      transform: scale(1.1);
      transition: all .1s ease
}

#slideNav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#arrow:hover {
  color: $secondary;
      transform: scale(1.1);
      transition: all .1s ease
}

#arrow {
  font-size: 1rem;
  margin: 0px 30px 0px 30px;
}

#slideNumber {
  font-size: 1rem;
  margin: 0px 20px 0px 20px;
}

#slideNumber:hover, #projecticon:hover, #project-icon-container:hover {
  color: white;
  transform: scale(1.1);
  transition: all .1s ease;
}

#project-icon-container {
  margin: 0 50px;
  flex-direction: column;
}

#projecticon {
  font-size: 4rem;
  padding: 5px;
}

#underline {
  width: 30%;
  border: 0.5px solid $link;
  margin: 0 auto
}

#contact-link:after {
  display: block;
  padding: 5px 0px 5px 0px;
  content: '';
  border-bottom: solid 3px $primary; 
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
#contact-link:hover:after {
  transform: scaleX(1);
}

#contact-link-dark:after {
  display: block;
  padding: 5px 0px 5px 0px;
  content: '';
  border-bottom: solid 3px $link; 
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
#contact-link-dark:hover:after {
  transform: scaleX(1);
}

@media screen and (max-width:1023px) {
  #mobnavlight {
    display: flex;
  }

  #scroll {
    display:inherit;
    margin: 0 auto 50px;
  }
}


@import "../../node_modules/bulma/bulma.sass";

